
<footer class="page-footer">
  <div class="footer-wrap">
    <div class="resume-footer">
      <!-- <a href="https://docs.google.com/document/d/1NF134-9lN_q5IqUZ1cCP5mf3G96IG8JhF6JVmaRoCGY/edit?usp=sharing" target="_blank"><h5 class="white-text">View my Resume</h5></a> -->
      <p></p>
    </div>
    <div class="social-footer">
      <!-- <h5 class="white-text">Let's Talk!</h5> -->
      <ul class="social_list">
        <li><a href="https://www.github.com/ericbello"><i class="fa fa-github"></i></a></li>
        <!-- <li><a href="###"><i class="fa fa-medium"></i></a></li> -->
        <li><a href="https://www.twitter.com/ericnbello"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ericnbello"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="mailto:hi@ericnbello.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      © {{currentYear}} Eric Bello
   </div>
  </div>
  
</footer>