<!-- Navbar Component -->
<app-navbar></app-navbar>

<!-- Homepage html -->

<!-- Top of Page With Opening Graphs Section -->
<div>
<div class="top">
  <div class="top-wrapper" id="top">
      <app-simplebarchart *ngIf="fakecasesbar" [data]="fakecasesbar">
      </app-simplebarchart>
      <app-simplelinechart *ngIf="fakecases" [data]="fakecases">
      </app-simplelinechart>
      <div class="callout_jumbo">
        <div class="typewriter">
          <div class="line1">
            Hello, welcome <br> to my portfolio.
          </div>
        </div>
      </div>
  </div>
</div>

<!-- About Me Section -->

<div class="aboutme-nav" id="aboutme-nav">
  <div class="aboutme-header">About Me</div>
  <div class="aboutme-wrapper">
    <div class="svg-wrapper-me">
      <!-- EDIT CONTENT BELOW -->
        <img alt="" class="photo-me" src="../../../assets/headshot.png" />
        <h5 class="aboutme-context"><span class=''>Hey! I'm Eric, a data enthusiast with a degree in computer engineering. Leveraging my entrepreneurial background, I'm now focused on excelling in data analysis for impactful contributions.</span></h5>
        <a href='https://drive.google.com/file/d/1B3CaQFboqO7sR_G71xo1wf09QoE-0MUR/view?usp=share_link'  class="btn square-btn navigate">View Resume</a>
      </div>
    <div class="callout-wrapper">
      <!-- <div class="svg-wrapper-callout1" >
        <div class="call-out"> -->
            <!-- EDIT CONTENT BELOW -->
          <!-- <h5 class="aboutme-context"><span class='highlight'>Callout box</span></h5>  
        </div>
      </div> -->
      <!-- <div class="svg-wrapper-callout2">
        <div class="call-out"> -->
              <!-- EDIT CONTENT BELOW -->
          <!-- <h5 class="aboutme-context"><span class='highlight'>Another callout box</span>
          </h5>
        </div>
      </div> -->
    </div>
  </div>
</div>



<!-- This is the projects content that will show on a larger screen (not mobile) -->

<div class="projects-div" id="navigate">
  <div class="projects-header">Projects</div>
  <div class="projects-wrapper">   <!--*ngIf="!mobile">-->

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='#'>
            <h5 class="project_title"><span class='highlight-title'>Movie Analytics</span></h5>
          </a>
            <span class='highlight-desc'>Explore the dynamic world of cinema through an in-depth analysis of movie ratings trends. Leveraging data from tmdb.org, this project delves into the evolving preferences of audiences over the years. Engage with interactive visualizations powered by D3.js, providing a comprehensive view of how movies have been rated and received. Uncover insights into pivotal moments in cinematic history and gain a deeper understanding of audience sentiments.</span>
        </p>
        <div style="display: flex;">
        <!-- <div> -->
          <!-- <a href='https://streaming-web-app.firebaseapp.com' class="waves-effect waves-light btn square-btn navigate">View Demo</a> -->
          <a href='https://github.com/ericnbello/movie-analytics' class="waves-effect waves-light btn square-btn navigate">View Project</a>
        </div>
      </div>
    </div>

    <div class="project_two">
    </div>

    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a href='###' target='_blank'>
            <h5 class="project_title"><span class='highlight-title'>Weather Analytics</span></h5>
          </a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </span>
        </p>
        <div style="display: flex;">
        <!-- <div> -->
          <a href='https://github.com/ericnbello/weather-analytics' class="waves-effect waves-light btn square-btn navigate">View Project</a>
        </div>
      </div>
    </div>

    <div class="project_three">
    </div>

    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>IoT Sensor Analytics</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <div style="display: flex;">
        <!-- <div> -->
          <a href='https://github.com/ericnbello/iot-sensor-analytics' class="waves-effect waves-light btn square-btn navigate">View Project</a>
        </div>
      </div> 
    </div>

   
  <!-- <div class="project_four_context">
    <div class='proj-wrapper'>
      <p class="project_description"> -->
          <!-- EDIT CONTENT BELOW -->
        <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #4</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
      </p>
      <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a>
    </div>
  </div>
  <div class="project_four">
  </div> -->
    

    <!-- <div class="project_five">
    </div>

    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
            <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #5</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###'  class="waves-effect waves-light btn square-btn navigate">Go to site</a>
      </div>
    </div> 

  </div> -->

  <!-- This is the projects content that will show on a mobile device -->
  <!--<div class="projects-wrapper">-->  <!--*ngIf="mobile">-->
    <!-- <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
             <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #1</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###'  class="waves-effect waves-light btn square-btn navigate">Read more</a>
      </div>
    </div> -->
    
    <!-- <div class="project_two">
    </div>
    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
                  <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###' target='_blank'><h5 class="project_title"><span class='highlight-title'>Project #2</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </span>
        </p>
        <a href='###' target='_blank' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div> -->
    <!-- <div class="project_three">
    </div>
    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
                  <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #3</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a>
      </div>
    </div> -->
    <!-- <div class="project_four">
    </div>
     <div class="project_four_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
                  <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #4</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a>
      </div>
    </div> -->
    <!-- <div class="project_five">
    </div>
    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description"> -->
                  <!-- EDIT CONTENT BELOW -->
          <!-- <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #5</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###'  class="waves-effect waves-light btn square-btn navigate">Go to site</a>
      </div> 
    </div> -->
  </div>
</div> 

<!-- Skills section -->
<!-- EDIT CONTENT BELOW -->
  <div class="mid1" id="medium">
    <div class="medium-header">Skills</div>
    <div class="medium-posts" >
      <ul style="color: white;">
        <li><i class="material-icons">chevron_right</i>Python</li>
        <li><i class="material-icons">chevron_right</i>Jupyter</li>
        <li><i class="material-icons">chevron_right</i>Libraries: Pandas, D3</li>
        <li><i class="material-icons">chevron_right</i>Item 4</li>
        <li><i class="material-icons">chevron_right</i>Item 5</li>
        <li><i class="material-icons">chevron_right</i>Item 6</li>
      </ul>
    </div>
  </div>


<!-- Contact form area -->
  <!-- EDIT CONTENT BELOW -->
  <div class="section4" id='section4'>
    <div class="section4-header">Contact Me</div>
    <div class="info_div">
      <div class="section4-content">
        <form
        action="https://formspree.io/f/mknyqeay"
        method="POST"
      >
        <label>
          Your name:
          <input type="text" name="name" id="name">
        </label>
        <label>
          Your email:
          <input type="email" name="email" id="email">
        </label>
        <label>
          Your message:
          <textarea name="message" id="message"></textarea>
        </label>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
      </form>
      <!-- <p>You can put extra content here.
        
      </div>

      <div class="parent">
        <div></div>
        <div class="summary_final">
            <br>
            <br>
            <a href='###' class="waves-effect waves-light btn square-btn rpubs">Button</a>
          </div>
        <div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Footer component loaded -->

<app-footer></app-footer>
